workflows/dunning-workflow.json
{
  "name": "Dunning Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stripe",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "stripe-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equal",
              "value2": "invoice.payment_failed"
            }
          ]
        }
      },
      "id": "if-payment-failed",
      "name": "If Payment Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "invoices",
        "where": {
          "conditions": [
            {
              "column": "id",
              "condition": "equal",
              "value": "={{ $json.data.object.id }}"
            }
          ]
        }
      },
      "id": "get-invoice",
      "name": "Get Invoice",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "organizations",
        "where": {
          "conditions": [
            {
              "column": "stripe_customer_id",
              "condition": "equal",
              "value": "={{ $json.data.object.customer }}"
            }
          ]
        }
      },
      "id": "get-organization",
      "name": "Get Organization",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 Payment failed for organization: {{ $json.name }}"
            }
          ]
        }
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "activities",
        "columns": {
          "organization_id": "={{ $json.id }}",
          "type": "payment_failed",
          "description": "Payment failed for invoice {{ $json.data.object.id }}",
          "metadata": "={{ JSON.stringify($json.data.object) }}"
        }
      },
      "id": "log-activity",
      "name": "Log Activity",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "If Payment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Payment Failed": {
      "main": [
        [
          {
            "node": "Get Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice": {
      "main": [
        [
          {
            "node": "Get Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Organization": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
